@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&amp;family=Open+Sans+Condensed:wght@300&amp;display=swap');

/*chamar a variavel por var(--nomeVariavel)*/
:root {  
    --branco: #fffcfd;
    --azul: #037FA1;
    --azul-celeste: #0aadf4;
    --verde-agua: #05d0c8;
    --verde: #05f69a;
    --turquesa: #35d7d5;
    --chumbo:  rgb(20, 20, 20);
    --verde-contraste: #02653F;
}

.container {
    padding-right: 6%;
    padding-left: 6%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--branco);
    width: 100%;
    height: 100vh;

}

/**------------- HEADER -------------**/
.header {
    align-items: center;
    color: var(--branco);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 100%;
}

.header_logo {
    margin-bottom: 0.5rem;
    max-height: 120px;
}

.header_nav {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.header_link {
    color: var(--azul);
    font-size: 1.1rem;
    display: inline-block;
    margin-right: .7rem;
    margin-left: .7rem;
}

.header_link:hover {
    color: var(--verde-agua);
    font-weight: bolder;
    transition: 0.5s;
}

/**------------- MAIN -------------**/
.principal {  
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url(../images/index-main.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}

.principal .travel {
    color: var(--branco);
    font-size: 16px;
	text-align: center;
    width: 60%;
}

.travel h1 {
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding-bottom: 0.3em;
}

.travel p {
    color: var(--branco);
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
}

.travel_type {
    padding: 1em;
}

.travel button {
    background-color: var(--verde-contraste);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 0.1em;
    margin: 0.5em;
    text-transform: capitalize;
    padding: 1em;
    width: 200px;
}

.travel button:hover{
    background-color: var(--azul);
    letter-spacing: 0.2em;
    font-weight: bold;
    transition: 0.6s;
}

.travel button a {  
    color: var(--branco);
    font-size: 1.3em;
    text-transform: uppercase;
}

/***------------- FOOTER -------------**/
.footer {
    align-items: center;
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    height: 4px;
    justify-content: space-around;
    padding-bottom: 2em;
    padding-top: 2.5em;
}
  
.footer a {
    width: 100%;
    text-decoration: none;
    color: var(--branco);
    font-size: 0.8em;
  }
  
  .footer a:hover{
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    transition: 0.4s;
  }
  
  .footer p {
    color: var(--branco);
    font-size: 0.6em;
    letter-spacing: 2px;
  }
    
  .footer h3 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
  }

/***------------- MEDIA -------------**/

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}

@media screen and (min-width: 1024px) {
    .header {
        border: none;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        border: none;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-height: 1024px) {
    .header {
        position: sticky;
    }
  }