@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&amp;family=Open+Sans+Condensed:wght@300&amp;display=swap');

/*chamar a variavel por var(--nomeVariavel)*/
:root {  
    --branco: #fffcfd;
    --azul: #037FA1;
    --azul-celeste: #0aadf4;
    --verde-agua: #05d0c8;
    --verde: #05f69a;
    --turquesa: #35d7d5;
    --chumbo:  rgb(20, 20, 20);
    --verde-contraste: #02653F;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--branco);
    height: 100vh;
    width: 100%;
}

/**------------- HEADER -------------**/
.header {
    align-items: center;
    color: var(--branco);
    border: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    height: 120px;
    justify-content: space-between;
    padding-left: 25%;
    padding-right: 25%;
    width: 100%;
}

.header_logo {
    margin-bottom: 0.5rem;
    height: 120px;
}

.header_nav {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.header_link {
    color: var(--azul);
    display: inline-block;
    font-size: 1.3rem;
    margin-right: .7rem;
    margin-left: .7rem;
}

.header_link:hover {
    color: var(--verde-agua);
    font-weight: bolder;
    transition: 0.5s;
}

/**------------- MAIN -------------**/
.principal {  
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url(../images/index-main.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: space-around;
    width: 100%;
}

.principal .travel {
    color: var(--branco);
    font-size: 16px;
	text-align: center;
    width: 60%;
}

.travel h1 {
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding-bottom: 0.3em;
}

.travel p {
    color: var(--branco);
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
}

.travel_type {
    padding: 1em;
}

.travel button {
    background-color: var(--verde-contraste);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 0.1em;
    margin: 0.5em;
    text-transform: capitalize;
    padding: 1em;
    width: 200px;
}

.travel button:hover{
    background-color: var(--azul);
    letter-spacing: 0.2em;
    font-weight: bold;
    transition: 0.6s;
}

.travel button a {  
    color: var(--branco);
    font-size: 1.3em;
    text-transform: uppercase;
}

/***------------- FOOTER -------------**/
.footer {
    align-items: center;
    background-color: var(--azul);
    display: flex;
    color: var(--branco);
    flex-direction: column;
    font-size: 16px;
    height: 4px;
    justify-content: space-around;
    padding-bottom: 2em;
    padding-top: 2.5em;
}
  
.footer a {
    font-size: 1.1em;
    text-decoration: none;
}

.footer a:hover{
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    transition: 0.4s;
}

.footer p {
    font-size: 0.8em;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
}

/***------------- MEDIA -------------**/
@media screen and (max-width: 940px) {
    .header {
        align-items: left;
        border: none;
        flex-direction: row;
        justify-content: space-between;
        /* padding-left: 0em;
        padding-right: -4em; */
    }
}