@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&amp;family=Open+Sans+Condensed:wght@300&amp;display=swap');

/*chamar a variavel por var(--nomeVariavel)*/
:root {  
    --branco: #fffcfd;
    --azul: #037FA1;
    --azul-celeste: #0aadf4;
    --verde-agua: #05d0c8;
    --verde: #05f69a;
    --turquesa: #35d7d5;
    --chumbo:  rgb(20, 20, 20);
    --verde-contraste: #02653F;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--branco);
    height: 100vh;
    width: 100vw;
}

/**------------- HEADER -------------**/
.header {
  align-items: center;
  color: var(--branco);
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  height: 120px;
  justify-content: space-between;
  padding-left: 25%;
  padding-right: 25%;
  width: 100%;
}

.header_logo {
  margin-bottom: 0.5rem;
  height: 120px;
}

.header_nav {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.header_link {
  color: var(--azul);
  display: inline-block;
  font-size: 1.3rem;
  margin-right: .7rem;
  margin-left: .7rem;
}

.header_link:hover {
  color: var(--verde-agua);
  font-weight: bolder;
  transition: 0.5s;
}

/**------------- CHAMADA -------------**/
.chamada {
    align-items: center;
    background-color: var(--azul);
    color: var(--branco);
    display: block;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.chamada h1 {
    letter-spacing: 0.1em;
    font-family: 'Lato', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 1em;
    text-transform: uppercase
}

.chamada p {
    font-size: 1.4em;
    margin: auto;
    padding-bottom: 1em;
    padding-top: 1em;
}

/**------------- GENERAL_INFO -----;--------**/

.general_info {
    font-size: 16px;
    padding: 0%;
}

.hotels {
  max-height: 100%;
}

.hotels_img {
  max-height: 80vw;
  padding: none;
  margin: none;
}

.hotels img {
  background-image: url(../level_two_images/HIB3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  height: 80vh;
  width: 100%;
}

.hotels_title {
  background-color: var(--verde-contraste);
  padding: 1.5em;
  text-align: center;
}

.hotels_title h1 {
  width: 100%;
  color: var(--branco);
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  padding-left: 1em;
}

.hotels_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 2em;
  margin: auto;
}

.hotels_info {
  margin-bottom: 1em;
}

.hotels_info p {
  align-self: center;
  text-align: start;
  color: var(--chumbo);
  line-height: 1.5em;
  font-size: 1em;
  padding-left: 1em;
}

.hotels_info p em {
  font-weight: bolder;
  color: var(--verde-contraste);
}

.button {  
  background-color: var(--verde-contraste);
  border: none;
  border-radius: 5px;
}


.hotels_map h1, .hotels_info h1 {
  align-items: flex-start;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 1em;
  color: var(--azul);
}

.hotels_map iframe {
  width: 45vw;
  max-width: 800px;
}

/**
.img-wrapper {
  overflow: hidden;
  position: relative;
}

.img-wrapper img {
  height: 80vh;
  max-width: 100%;
  object-fit: fill;
  object-position: center;
}

.img-wrapper .content {
  background: var(--chumbo);
  inset: 0;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  justify-content: center;
  padding: 1rem;
  position: absolute;
}
  
.img-wrapper img,
.img-wrapper .content {
  transition: 0.9s ease-in-out;
}

.img-wrapper .content.fade {
  opacity: 0;
}
.img-wrapper:hover .content.fade {
  opacity: 0.95;
}

.img-wrapper .title {
  width: 40%;
  color: var(--branco);
  float: left;
  text-align: left;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  padding-left: 1em;
}

.img-wrapper p {
  color: var(--branco);
  line-height: 2em;
  float: left;
  font-size: 0.5em;
  font-weight: 500;
  padding-left: 1.5em;
}

.img-wrapper p em {
  font-weight: bold;
  color: var(--branco);
}

.general_info .info {
  background-color: var(--verde-contraste);
  border: none;
  border-radius: 5px;
  color: var(--branco);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 1em;
  text-transform: uppercase;
  width: 100%;
}
  
.general_info .info:hover {
  background-color: var(--azul);
  transition: 0.5s;
}
  
**/
/***------------- FOOTER -------------**/
.footer {
  align-items: center;
  background-color: var(--azul);
  display: flex;
  color: var(--branco);
  flex-direction: column;
  font-size: 16px;
  height: 4px;
  justify-content: space-around;
  padding-bottom: 2em;
  padding-top: 2.5em;
}

.footer a {
  font-size: 1.1em;
  text-decoration: none;
}

.footer a:hover{
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  transition: 0.4s;
}

.footer p {
  font-size: 0.8em;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
}
  
/***------------- MEDIA -------------**/
@media screen and (max-width: 600px) {
  .header {
      height: 110px;
      padding-left: 6%;
      padding-right: 6%;
  }

  .header_logo {
      height: 110px;
  }

  .header_link {
      display: grid;
      font-size: 1em;
  }


}

@media screen and (max-width: 300px) {
  .header {
      height: 90px;
  }

  .header_link {
      display: grid;
      font-size: 0.9em;
      margin-right: 0em;
      margin-left: 0em;
  }

  .hotels img {
    height: 100vh;
    width: 100vw;

  }

  .header_logo {
      height: 90px;
  }
  
}