@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&amp;family=Open+Sans+Condensed:wght@300&amp;display=swap');

/*chamar a variavel por var(--nomeVariavel)*/
:root {  
    --branco: #fffcfd;
    --azul: #037FA1;
    --azul-celeste: #0aadf4;
    --verde-agua: #05d0c8;
    --verde: #05f69a;
    --turquesa: #35d7d5;
    --chumbo:  rgb(20, 20, 20);
    --verde-contraste: #02653F;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--branco);
    width: 100%;
    height: 100vh;
}

.container {
    padding-right: 6%;
    padding-left: 6%;
}

/**------------- HEADER -------------**/
.header {
    align-items: center;
    color: var(--branco);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 120px;
    width: 100%;
}

.header_logo {
    height: 120px;
    margin-bottom: 0.5rem;
}

.header_nav {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.header_link {
  color: var(--azul);
  display: inline-block;
  font-size: 1.3rem;
  margin-right: .7rem;
  margin-left: .7rem;
}

.header_link:hover {
    color: var(--verde-agua);
    font-weight: bolder;
    transition: 0.5s;
}

/**------------- CHAMADA -------------**/
.chamada {
    align-items: center;
    background-color: var(--azul);
    color: var(--branco);
    display: block;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.chamada h1 {
    letter-spacing: 0.1em;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em;
}

.chamada h1 em {
    text-transform: uppercase;
}

.chamada p {
    font-size: 1.2em;
    margin: auto;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
}

/**------------- GENERAL_INFO -----;--------**/
.general_info {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(480px, 0.5fr));
  height: 100vh;
  width: 100%;
}

.img-wrapper {
  overflow: hidden;
  position: relative;
}
  
.img-wrapper > img {
  aspect-ratio: 1 / 1;
  max-width: 100%;
  object-fit: fill;
  object-position: center;
}

.img-wrapper > .content {
  align-items: center;
  background: var(--chumbo);
  display: flex;
  inset: 0;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  justify-content: center;
  padding: 1rem;
  position: absolute;
}
  
.img-wrapper > img,
.img-wrapper > .content {
  transition: 0.4s ease-in-out;
}

.img-wrapper > .content.fade {
  opacity: 0;
}
.img-wrapper:hover > .content.fade {
  opacity: 0.95;
}

.img-wrapper .title {
  width: 40%;
  color: var(--branco);
  float: left;
  text-align: left;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  padding-left: 1em;
}

.img-wrapper p {
  color: var(--branco);
  line-height: 2em;
  float: left;
  font-size: 0.5em;
  font-weight: 500;
  padding-left: 1.5em;
}

.img-wrapper p em {
  font-weight: bold;
  color: var(--branco);
}

.general_info .info {
  background-color: var(--verde-contraste);
  border: none;
  border-radius: 5px;
  color: var(--branco);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 1em;
  text-transform: uppercase;
  width: 100%;
}
  
.general_info .info:hover {
  background-color: var(--azul);
  transition: 0.5s;
}
  

/***------------- FOOTER -------------**/
.footer {
  align-items: center;
  background-color: var(--azul);
  display: flex;
  flex-direction: column;
  height: 4px;
  justify-content: space-around;
  padding-bottom: 2em;
  padding-top: 2.5em;
}
  
.footer a {
    width: 100%;
    text-decoration: none;
    color: var(--branco);
    font-size: 0.7em;
  }
  
  .footer a:hover{
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    transition: 0.4s;
  }
  
  .footer p {
    color: var(--branco);
    font-size: 0.6em;
    letter-spacing: 2px;
  }
    
  .footer h3 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
  }
  
/***------------- MEDIA -------------**/
@media screen and (min-width: 360px) {
  .container {
    padding-left: calc((100% - 360px)/2);
    padding-right: calc((100% - 360px)/2);
    }
}

@media screen and (min-width: 360px) {
  .header {
    border: none;
    flex-direction: row;
    justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: calc((100% - 940px)/2);
    padding-right: calc((100% - 940px)/2);
  }
}

@media screen and (max-width: 1024px) {
  .header {
    border: none;
    flex-direction: row;
    justify-content: space-between;
    }
}