@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&amp;family=Open+Sans+Condensed:wght@300&amp;display=swap');

/*chamar a variavel por var(--nomeVariavel)*/
:root {  
    --branco: #fffcfd;
    --azul: #037FA1;
    --azul-celeste: #0aadf4;
    --verde-agua: #05d0c8; 
    --verde: #05f69a;
    --turquesa: #35d7d5; 
    --amarelo: #E3AD1C;
    --chumbo: rgb(20, 20, 20);
    --verde-contraste: #02653F;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--branco);
    width: 100%;
    height: 100vh;
}

/**------------- HEADER -------------**/
.header {
    align-items: center;
    color: var(--branco);
    border: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    height: 120px;
    justify-content: space-between;
    padding-left: 25%;
    padding-right: 25%;
    width: 100%;
}

.header_logo {
    margin-bottom: 0.5rem;
    max-height: 120px;
}

.header_nav {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.header_link {
    color: var(--azul);
    font-size: 1.3rem;
    display: inline-block;
    margin-right: .7rem;
    margin-left: .7rem;
}

.header_link:hover {
    color: var(--verde-agua);
    font-weight: bolder;
    transition: 0.5s;
}

/**------------- FOTO GRID -------------**/

.foto_grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  }
  
  .img-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .img-wrapper > img {
    display: block; 
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
  }

  .img-wrapper > img {
    transition: 200ms ease-in-out;
  }

  .foto_grid .img-wrapper img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.foto_grid .img-wrapper:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.img-wrapper .blur {
    max-width: 100%;
}

  /**------------- COMENTARIO -------------**/

h1 {
    display: flex;
    justify-content: center;
    margin: 5rem 0 5rem 0;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 980px;
    margin: 0 auto;
    grid-gap: 50px;
    margin-bottom: 30px;
    width: 100%;
}

.card{
    background-color: #fffcfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 40px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.171);
}

.card .user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card h3{
    font-family: 'Lato', sans-serif;
    margin-bottom: 5px;
    font-weight: bold;
}

.nota{
    width: 30px;
    font-size: 18px;
    padding: 6px;
}

p {
    margin-top: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

/**------------- FORMULARIO -------------**/

.formulario{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 1px 1px;
    background: #35d7d5;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.formulario h2{
    color: #f5f5f5;
    font-size: 2.5rem;
    margin: 2rem;
}
.formulario form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label{
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 5px;
}
form input{
    padding: 12px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus{
    border-radius: 16px;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
    width: 100%;
}
form textarea:focus{
    border-radius: 16px;
}
form a{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
}

form a:hover{
    background: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}


/***------------- FOOTER -------------**/
.footer {
    align-items: center;
    background-color: var(--azul);
    display: flex;
    color: var(--branco);
    flex-direction: column;
    font-size: 16px;
    height: 4px;
    justify-content: space-around;
    padding-bottom: 2em;
    padding-top: 2.5em;
}
  
.footer a {
    font-size: 1.1em;
    text-decoration: none;
}

.footer a:hover{
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    transition: 0.4s;
}

.footer p {
    font-size: 0.8em;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
}

/***------------- MEDIA -------------**/
@media screen and (max-width: 600px) {
    .header {
        height: 110px;
        padding-left: 6%;
        padding-right: 6%;

    }
  
    .header_logo {
        height: 110px;
    }
  
    .header_link {
        display: grid;
        font-size: 1em;
    }

    .foto_grid{
        width: 100vh;
        
    }

    .cards{
        width: 100vh;
    }

    .formulario{
        width: 100vh;
    }
  
  
  }
  
  @media screen and (max-width: 300px) {
    .header {
        height: 90px;
    }
  
    }

    .header_logo {
        height: 110px;
    }

    .header_link {
        display: grid;
        font-size: 1em;
    }
}

@media screen and (max-width: 300px) {
    .header {
        height: 90px;
    }

    .header_link {
        display: grid;
        font-size: 0.9em;
        margin-right: 0em;
        margin-left: 0em;
    }
  
    .hotels img {
      height: 100vh;
      width: 100vw;
  
    }
  
    .header_logo {
        height: 90px;
    }
    
  }
    }

    .header_logo {
        height: 90px;
    }
}