@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&amp;family=Open+Sans+Condensed:wght@300&amp;display=swap');

/*chamar a variavel por var(--nomeVariavel)*/
:root {  
  --branco: #fffcfd;
  --azul: #037FA1;
  --azul-celeste: #0aadf4;
  --chumbo:  #333333;
  --verde-agua: #05d0c8;
  --verde: #05f69a;
  --turquesa: #35d7d5;
  --verde-contraste: #02653F;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--branco);
  height: 100vh;
  width: 100vw;
}

/**------------- HEADER -------------**/
.header {
  align-items: center;
  background-color: var(--chumbo);
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  height: 120px;
  justify-content: space-between;
  padding-left: 25%;
  padding-right: 25%;
  width: 100%;
}

.header_logo {
  margin-bottom: 0.5rem;
  height: 120px;
}

.header_nav {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.header_link {
  color: var(--branco);
  display: inline-block;
  font-size: 1.3rem;
  margin-right: .7rem;
  margin-left: .7rem;
}

.header_link:hover {
  color: var(--azul);
  font-weight: bolder;
  transition: 0.5s;
}

/**------------- CHAMADA -------------**/
.chamada {
    align-items: center;
    background-color: var(--azul);
    color: var(--branco);
    display: block;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-bottom: 0;
}

.chamada h1 {
    letter-spacing: 0.1em;
    font-family: 'Lato', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 1em;
    text-transform: uppercase
}

.chamada p {
    font-size: 1.4em;
    padding-bottom: 1em;
    padding-top: 1em;
}

/**------------- GENERAL_INFO -----;--------**/

.general_info {
    font-size: 16px;
}

.hotels {
  padding: 0;
  border: none;
}

.hotels img {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 60vh;
  width: 100%;
}

.hotels_imgvgm1 {
  background-image: url(../level_two_images/HIB3.jpg);
}

.hotels_imgvgm2 {
  background-image: url(../level_two_images/HMSP.jpg);
}

.hotels_imgtur1 {
  background-image: url(../level_two_images/fushi6.jpg);
}

.hotels_imgtur2 {
  background-image: url(../level_two_images/amazon1.jpg);
}

.hotels_imgtrb1 {
  background-image: url(../level_two_images/PT1.jpg);
}

.hotels_imgtrb2 {
  background-image: url(../level_two_images/CP2.jpg);
}

.hotels_title {
  padding: 1em;
  text-align: center;
  margin-top: 0;
}

.hotels_title h1 {
  color: var(--verde-contraste);
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  padding-left: 1em;
}

.hotels_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin: auto;
}

.hotels_info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.hotels_info p {
  align-self: center;
  text-align: start;
  color: var(--chumbo);
  line-height: 1.5em;
  font-size: 1em;
  padding-left: 1em;
}

.hotels_info p em {
  font-weight: bolder;
  color: var(--verde-contraste);
}

.hotels_info a {  
  align-self: center;
  margin-top: 1em;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.button {
  background-color: var(--verde-contraste);
  color: var(--branco);
  border-radius: 5px;
  padding: 0.5em;
}

.button:hover {
  background-color: var(--azul);
  text-decoration: underline;
  color: var(--branco);
  transition: 0.5s;
}

.hotels_map h1, .hotels_info h1 {
  align-items: flex-start;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 1em;
  color: var(--azul);
}

.hotels_map iframe {
  width: 45vw;
  max-width: 800px;
}

/***------------- FOOTER -------------**/
.footer {
  background-color: var(--azul);
  color: var(--branco);
  text-align: center;
  display: block;
  padding: 1em;
  gap: 3em;
  margin: auto;
  padding: 2em;
}

.footer a {
  font-size: 0.8em;
  text-transform: uppercase;
  justify-content: space-around;
}

.footer a:hover{
  font-weight: bold;
  text-decoration: underline;
  transition: 0.4s;
}

.footer a:after {
  content: ' \00A0';
}

.footer p {
  align-self: center;
  font-size: 0.8em;
  letter-spacing: 2px;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
  

/***------------- MEDIA QUERIES -------------**/

@media screen and (max-width: 600px) {
  .header {
      height: 110px;
      padding-left: 6%;
      padding-right: 6%;
  }

  .header_logo {
      height: 110px;
  }

  .header_link {
      display: grid;
      font-size: 1em;
  }


}

@media screen and (max-width: 300px) {
  .header {
      height: 90px;
  }

  .header_link {
      display: grid;
      font-size: 0.9em;
      margin-right: 0em;
      margin-left: 0em;
  }

  .header_logo {
      height: 90px;
  }
  
}